@charset "UTF-8";
/*CSS Document*/

.hero-box {
	height: 500px;
	background-color: lightpink;
	background-image: url(../mainApp/images/000027.jpg);
	background-size: cover;
	margin: 1%;

}
.box-hero {
	color: #E7C473;
	font-size: 55px;
	padding-top: 120px;
	padding-left: 30px; 
}
.col img {
	width: 100%;
	height: auto;
	display: block;
}

.col {
	width: 31.3%;
	float: left;
	margin: 1%;
}
