<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../../../static/favicon.ico">
	<!-- http://flask.pocoo.org/docs/0.12/patterns/favicon/ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>calculator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style> 
		body {
			margin-top: 70px;
			background-color: #333;
			color: #fff; 
		}
		.card-block{padding: 10px;}
	</style>
</head>
<body>	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="display-3 text-center mb-3">Конвертер величин</h1>
				<form>
					<div class="form-group">
						<input type="number" id="kmInput" placeholder="Введите километры..." class="form-control form-control-lf">
					</div>
				</form>
				<div id="output">
					<div class="card alert-danger mb-2">
						<div class="card-block">
							<h4>Футы:</h4>
							<div id="footOutput"></div>
						</div>
					</div>				
					<div class="card alert-warning mb-2">
						<div class="card-block">
							<h4>Метры:</h4>
							<div id="mOutput"></div>
						</div>
					</div>
					<div class="card alert-primary mb-2">
						<div class="card-block">
							<h4>Самтиметры:</h4>
							<div id="smOutput"></div>
						</div>
					</div>
					<div class="card alert-success mb-2">
						<div class="card-block">
							<h4>Миллиметры:</h4>
							<div id="mlOutput"></div>
						</div>
					</div>	
				</div>
			</div>	
		</div>
	</div>	
<script>
	document.getElementById('kmInput').addEventListener('input', function(e){
		let km = e.target.value;
		document.getElementById('mOutput').innerHTML = km * 1000
		document.getElementById('smOutput').innerHTML = km * 100000
		document.getElementById('mlOutput').innerHTML = km * 1000000
		document.getElementById('footOutput').innerHTML = km * 3280.84
	});
</script>
</body>
</html>