<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../../../static/favicon.ico">
  <!-- http://flask.pocoo.org/docs/0.12/patterns/favicon/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/my.css' %}" type="text/css">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>{% include "mainApp/includes/some_html.html" %}</h1>
      {% block content %}
      {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg" alt="Home">Main page</a>
        <a href="/contact" class="btn btn-info btn-lg" alt="contact">Contact</a>
        <a href="/news" class="btn btn-primary btn-lg" alt="news">News &raquo;</a>
        <a href="/admin"class="btn btn-default btn-lg" alt="admin">Admin</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="hero-box" class="img-thumbnail" alt="spider">
      <h1 class="box-hero">The BEST Picture is Here.</h1>
    </div>
    <a href="/" class="btn btn-success btn-lg col-md-12" alt="Bay Photo (don't work)">Bay Photo</a> 
    <hr>
    oookr &copy;2018 
  </div>
</body>
</html>